.search-box {
	display: flex;
	align-items: center;
	padding: 4px;
	border-radius: 5px;
	border: 0;
	color: var(--icon-color-focused);

	.btn {
		display: flex;
		align-items: center;
	}

	&:not(.expanded) {
		color: var(--icon-color);
		&:hover {
			opacity: var(--icon-opacity-hover);
			color: var(--icon-color-hover);
			background-color: var(--background-modifier-hover);
		}

		&:active, &.active, &.active-pseudo-class-fix {
			color: var(--icon-color-focused);
			background-color: var(--background-modifier-hover);
		}
	}

	&.expanded {
		border: var(--material-border-quinary);
		background: var(--material-background);
	}

	input {
		background-color: transparent;
		border: 0;
		max-width: 0;
		width: 100%;
		transition: max-width 0.25s ease;
	}

	&.expanded input {
		max-width: 130px;
		padding-left: 4px;
	}

	&:focus-within {
		box-shadow: 0 0 0 var(--input-border-width-focus) var(--background-modifier-border-focus);
		border-color: var(--background-modifier-border-focus);
    	transition: box-shadow 0.15s ease-in-out, border 0.15s ease-in-out;
	}

	&:active {
		box-shadow: 0 0 0 var(--input-border-width-focus) var(--background-modifier-border-focus);
	}
}
